{% extends 'base.html' %}

{% block content %}

<h2>{{ question.question_text }}</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div class="container-fluid">
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<div class="row">

{% for choice in question.choice_set.all %}
	<div class="col-sm-4">
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
    </div>
{% endfor %}
</div>
<div class="row">
<input class="btn" type="submit" value="Vote" />
</div>
</form>
</div>
{% endblock %}